{% load static %}
<footer class="site-footer">
        <div class="footer-content">
            <div class="social-icons">
                <i data-lucide="instagram" style="width:16px; margin-right:15px"></i>
            </div>
            <div class="footer-logo">
                <img src="{% static 'images/CyanLogo.png' %}" style="color: var(--accent-cyan); opacity: 0.3; width: 40px; height: 40px;"/>
            </div>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
            </div>
        </div>
        <p class="footer-credits" style="text-align: center; font-size: 0.75rem; color: var(--text-muted); margin-top: 1rem;">
            Developed by <a href="https://www.linkedin.com/in/tamilselvanak/" target="_blank" rel="noopener noreferrer" style="color: inherit; text-decoration: underline;">Tamilselvan A K</a>, Abshar, Kavin raj
        </p>
    </footer>